body{
    background: #c3c6c8;
    overflow: hidden;
}


body ul,body li{
    list-style: none;
    padding: 0px;
}

.container{
    width: 400px;
    height: 300px;
    border: 1px solid #ddd;
    padding: 20px;
    margin:160px auto 30px auto;
    border-radius: 20px;
    background: #fff;
}

.container form li{
    margin: 10px 0;
}

.container form li .title{
    width: 100px;
    text-align: right;
    display: inline-block;
}

.container form input{
    padding: 8px 5px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

.container form .line{
    margin-left: 20px;
}

.container form .line input[type="submit"]{
    padding: 10px 20px;
    background: rgb(142, 139, 139);
    color: #fff;
    border: 1px solid rgb(142, 139, 139);
    cursor: pointer;
}

.container form .line input[type="submit"]:hover{
    background: rgb(22, 22, 22);
}

.submit_line a{
    color: black;
    font-size: 14px;
    margin-left: 10px;
}